.media {
  display: flex;
}

.media__link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &.-footer {
    background-color: var(--color-media-link);

    &:hover {
      opacity: 1;
      background-color: var(--color-media-link-hover);
    }


  }

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;

  }
}

.media__icon {
  width: 20px;
  height: 20px;
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }

}